---

const { info } = Astro.props;
const {data, numbers} = info; 

---

<div>
    <ul>
        <li>{data.id}</li>
        <li>{data.created_at}</li>
        <li>{data.icon_url}</li>
        <li>{data.updated_at}</li>
        <li>{data.url}</li>
        <li>{data.value}</li>
    </ul>
      
    <ul>
        {numbers.map((number:any) => (
            <li>{number}</li>
        )
        )}   
    </ul>
</div>
